/* =================================
   section: Global reset
   ================================= */
body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

#main-div
{
    max-width: 1000px;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

/* =================================
    section: Header style
   ================================= */
#mypage-header{
    min-height: 10px;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
}

/* =================================
   section: Center page style
   ================================= */
#mypage-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 20px 20px 10px;
}
.mypage-content{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/* =================================
   section: Left navigation style
   ================================= */
.mypage-leftnav{
    border-left: #FF1A00 solid 2px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftnav-names{
    text-align: center;
}

/* ===================================
   section: center content page style
   =================================== */
.center-content{
    padding-left: 25px;
}
.mypage-center-content{
    border-right: #FF1A00 solid 0px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    align-items: center;
    line-height: 1.6;
    padding:10px 20px;
}

/* =================================
   section: Footer style
   ================================= */
#mypage-footer{
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: #6e6e68;
    transition: all 0.1s ease;
}
#footer-title{
    font-weight: 600;
    font-size: large;
    margin-top: 12px;
}
#footer-body{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-content{
    display: flex;
    gap: 15px;
}

   /* =================================
   container section
   ================================= */
#js-wrapper{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
}

 /* =================================
  javascript section
   ================================= */
.title{
    text-align: center;
}
.max-container{
    padding: 30px;
    width: 350px;
}
#max, #stringreverse, #longest-word, #cookies{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group{
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lebel-data, #button{
    font-weight: 600;
}

.input-field{
    padding: 10px;
    border-radius: 3px;
}
.button{
    width: 100%;
    padding: 10px;
    /* background-color: #6e6e68; */
    border: solid 1px lightgray;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover{
    font-weight: 600;
    background-color: red;
    border: 1px solid #ccc;
    color: #FFFF88;
    border: red solid 2px;
    transition: background-color 0.3s, border-color 0.3s; 
}
#num1-error, #num2-error, #string-error, #longest-word-string-error, #name-error, #phone-error {
    color: red;
    font-size: small;
    font-weight: 400;
    margin-top: -5px;
}
#error-max, #global-error, #stringreverse-error, #longest-word-error{
    color: red;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    /* font-weight: 500; */
}
.require-symbol{
    color: red;
}
#message-container, #global-error{
    display: flex;
    justify-content: center;
}
#max-value, #stringreverse-result, #longest-word-result,#cookie-result{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    word-break: break-word;
}

/* =================================
   section: Responsive page style
   ================================= */
@media (max-width: 576px) {
    
    /* =================================
   section: Header style
   ================================= */
    #header-name{
        font-size: 26px;
    }

    /* =================================
   section: Center page style
   ================================= */
    .mypage-content{
        flex-direction: column;
    }
    .mypage-center-content{
        border-right: none;
        font-size: small;
    }
    .mypage-leftnav{
        border-left: none;
    }
    .leftnav-names{
        font-size: 20px;
    }
    .center-content-headers{
        font-size: 15px; 
    }

    /* =================================
    JavaScript

    max container section
    ================================= */
   .max-container{
    max-width: 200px;
    padding: 25px;
   }

   #longest_word_button{
    margin-top: 18px;
   }
}


  /* =================================
        JQuery section
    ================================= */


 /* =================================
        background color
    ================================= */
/* background color for resume content*/
#mypage-header.highlight-bg,
#mypage-body.highlight-bg,
#mypage-footer.highlight-bg
{
    background-color: #FFFF88;
}

/* backgound color for containers */
.border-box.highlight-bg{
    background-color: #FFFF88;
    border-radius: 18px;
    
}
/* border color for buttons */
.button-bg{
    background-color: #FFFF88;
    border: #FF1A00 solid 2px;
    color: #CC0000;
    font-weight: 600;
    font-size: medium;
}

 /* =================================
        border color
    ================================= */

/* border color for header and footer*/
#mypage-header.highlight-border,
#mypage-footer.highlight-border,
.border-box.highlight-bg
{
    border:#FF1A00 solid 2px;
}

/* border color for center content and containers */
#mypage-body.highlight-border, #mypage-footer.highlight-border{
     border:#FF1A00 solid 2px;
     border-top: none;
}

/* reference section heading */
.reference-section-heading{
    font-weight: 600;
}

 /* =================================
        removing borders
    ================================= */
/* removing border for all input fields */
#max-num1.input-field-border,
#max-num2.input-field-border,
#stringInput.input-field-border,
#input-string.input-field-border,
#name.input-field-border,
#phone.input-field-border{
    border: none;
    outline: none;
}

/* hiding the reference part */
#reference{
    display: none;
}

/* giving color to text */
#mypage-header.highlight-text,
#mypage-body.highlight-text,
#mypage-footer.highlight-text,
#js-wrapper.highlight-text{
    color: #CC0000;
}

/* =========================
    jquery2 exercise
=========================== */

/* ========================
    header part
   ========================*/
.header-shrink {
  height: 10px;
  overflow: hidden;
  transition: height 0.5s ease; 
}

.header-expand{
    height: 100px;
    overflow: hidden;
    transition: height 0.5s ease;
}

/* ========================
    footer part
  ==========================*/
#mypage-footer {
    min-height: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
    transition: all 0.9s ease;
}

#mypage-footer-content {
    display: none;
}

/* =====================
    cart alert box
   =====================*/
#card-alert {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.4); 
  width: 100%;
  height: 100%;
}

.card-box {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 300px;
  margin:20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.card-box p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.card-box button {
  background: teal;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.card-box button:hover {
  background: darkslategray;
}